 <h1>Sign Up Confirmation</h1>
 <br>
 <br>
 <div class="row">
     <div class="col-md-4">
        <h3>Are You Sure These Values Are Correct?</h3>
        <h5>Email: <% @user.email %></h5>
        <h5>Name: <% @user.email %></h5>
     </div>
    <br>
 </div>
<br>
<div class="row">
    <div class="col-md-4", style="width: auto;">
        <=% button_to "Yes" , {:controller => "users", :action => "create", :params => params}, class: 'btn btn-success' %>
    </div>
    <div class="col-md-4", style="width: auto;">
        <=% button_to "No" , {:controller => "users", :action => "new"}, class: 'btn btn-failure', :method => :get %>
    </div>
</div>