<html>
    <h1>About Bloccit</h1>
    <p>Created by: Me</p>
    <a href="https://www.linkedin.com/in/robertsjohnston" class="btn btn-info">LinkedIn</a>
    <%= link_to "Facebook", "https://www.facebook.com/robert.johnston.9693", class: "btn btn-info" %>
</html>
